body {
  background-color: rgba(206, 235, 255, 0.473);
  font-family: "Overpass Mono", monospace;
<<<<<<< HEAD
  font-size: 17px;
=======
  font-size: 15px;
>>>>>>> 6b3c8fb (Add new is now fully functional)
}
